extends layout

block content
  h1= title
  p Welcome to #{title} bot for Telegram
  p You can fin him #[a(href='http://t.me/drjft_bot') here]

  div
    p
      small Powered by NodeJs 7.8.0 / ExpressJs / Forever / Nginx / Ubuntu 16.04
